<ul class="board">
{{#thread}}
  <li class="threadURL"><a href="{{threadURL}}">{{threadName}}</a>
    <ul class="threadContent">
      <li class="threadResCount">{{threadResCount}}</li>
      <li class="threadCreated">{{threadCreated}}</li>
    </ul>
  </li>
{{/thread}}
</ul>
