<ul class="boardGroups">

  <li class="updateBoardGroups">
    <a href="updateBoardGroups">板リスト更新</a>
  </li>

{{#boardGroup}}

  <li class="boardGroup">{{groupName}}
    <ul class="boards">

{{#boards}}
      <li class="boardName"><a href="{{boardURL}}">{{boardName}}</a></li>
{{/boards}}

    </ul>
  </li>

{{/boardGroup}}

</ul>
