<ul class="board">
  <li class="topUrl"><a href="/">TOP</a></li>
{{#threads}}
  <li class="threadUrl"><a href="{{threadUrl}}">{{threadTitle}}</a>
    <ul class="threadContent">
      <li class="threadResCount">{{threadResCount}}</li>
      <li class="threadCreated">{{threadCreated}}</li>
    </ul>
  </li>
{{/threads}}
</ul>
