<ul class="thread">
{{#res}}
  <li class="resNumber">{{resNumber}}
    <ul class="resContent">
      <li class="resName">{{resName}}</li>
      <li class="resDate">{{resDate}}</li>
      <li class="resId">{{resId}}</li>
      <li class="resIdCount">{{resIdCount}}</li>
      <li class="resBody">{{resBody}}</li>
    </ul>
  </li>
{{/res}}
</ul>
